@import "vendors/reset";

@import "global/layout";

@font-face {
  font-family: "venture";
  src: url("./../3Dventure.ttf");
}

//  GAME.html

div.frame {
  width: 960px;
  height: 600px;
  border: 3px solid black;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  background-image: url("/images/PlaygroundDefinitive.png");

  .beer {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 70px;
    left: 460px;
    background-image: url("/images/biere.png");
    transition: 0.3s ease-in;
  }
  .tomato {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 20px;
    left: 450px;
    background-image: url("/images/biere.png");
    transition: 0.3s ease-in;
    z-index: 9999;
  }

  .table {
    width: 109px;
    height: 134px;
    position: absolute;
    top: 100px;
    left: 1000px;
    background-image: url("/images/SmallTable&Character1.png");
  }
  .men {
    width: 34px;
    height: 83px;
    background-image: url("/images/body.png");
    position: absolute;
    top: 250px;
    left: 1000px;
  }
}

.score {
  color: white;
  font-weight: bold;
  font-size: 38px;
  position: absolute;
  top: 10px;
  left: 20px;
}

// HOME.html

.home {
  .homepage {
    width: 960px;
    height: 600px;
    border: 3px solid black;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    background-image: url("./../images/FloorPlaygroundDefinitive.png");
  }
  h1 {
    color: #fadc10;
    font-family: "venture";
    font-size: 82px;
    text-align: center;
    -webkit-text-stroke: 3px black;
  }
}
