@import "vendors/reset";

@import "global/layout";

//  GAME.html

div.frame {
  width: 960px;
  height: 600px;
  border: 3px solid black;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  background-image: url("/images/Floor2.png");
  background-size: 190%;
  background-position: center;
  .beer {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 20px;
    left: 450px;
    background-image: url("/images/biere.png");
    transition: 0.3s ease-in;
    z-index: 9999;
  }

  .table {
    width: 109px;
    height: 134px;
    position: absolute;
    top: 100px;
    left: 1000px;
    background-image: url("/images/SmallTable&Character1.png");
  }
  .men {
    width: 128px;
    height: 220px;
    background-image: url("/images/RightCharacter.png");
    position: absolute;
    top: 250px;
    left: 1000px;
  }
}

// .anim {
//   animation: glisse 2.5s infinite alternate linear;
// }

// @keyframes glisse {
//   0% {
//     transform: rotate(-60deg) translateX(-90px);
//   }
//   100% {
//     transform: rotate(60deg) translateX(90px);
//   }
// }

.score {
  font-size: 22px;
  position: absolute;
  top: 0px;
  left: 10px;
}

// HOME.html

.homepage {
  width: 100vw;
  height: 100vh;
}
